<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
      <div>
        <span><%= message.user %></span>
        <p><%= message.text %></p>
        <span><%= message.added %></span>
      </div>
    <% }) %>
  </body>
</html>
