<html>
  <head>
    <title>Message</title>
  </head>
  <body>
    <h1>You opened a message from <%= user %></h1>
    <p><%= text %></p>
    <p>This message was written on <%= added %></p>
  </body>
</html>
